# Environment
.env
*.env

# Python
__pycache__/
*.py[cod]
*.pyo
.Python
*.egg-info/
dist/
build/

# Pytest / Reports
.pytest_cache/
reports/*.html
reports/*.log
reports/screenshots/
.coverage
htmlcov/

# Virtual env
venv/
env/
.venv/

# WebDriver cache
.wdm/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db
